<!DOCTYPE html>
<html>
<head>
  <title>RubyRailsHw1V2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'All Posts', controller: 'posts' %>
  <br>
  <%= link_to 'All Tags', controller: 'tag_strings' %>
  <br>
  <%= link_to 'New Post', new_post_path %>

<%= yield %>

</body>
</html>
